{<<"app">>,<<"argparse">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"argparse: arguments parser, and cli framework">>}.
{<<"files">>,
 [<<"CHANGELOG.md">>,<<"LICENSE">>,<<"README.md">>,<<"rebar.config">>,
  <<"rebar.lock">>,<<"src">>,<<"src/argparse.app.src">>,<<"src/args.erl">>,
  <<"src/cli.erl">>]}.
{<<"licenses">>,[<<"BSD 3-clause clear">>]}.
{<<"links">>,[{<<"GitHub">>,<<"https://github.com/max-au/argparse">>}]}.
{<<"name">>,<<"argparse">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"2.0.0">>}.
