{<<"app">>,<<"mapz">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Extensions to the Erlang maps module">>}.
{<<"files">>,
 [<<"CHANGELOG.md">>,<<"LICENSE">>,<<"README.md">>,<<"rebar.config">>,
  <<"rebar.lock">>,<<"src">>,<<"src/mapz.app.src">>,<<"src/mapz.erl">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,[{<<"GitHub">>,<<"https://github.com/eproxus/mapz">>}]}.
{<<"name">>,<<"mapz">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"2.4.0">>}.
