{<<"name">>,<<"erlang_color">>}.
{<<"version">>,<<"1.0.0">>}.
{<<"requirements">>,#{}}.
{<<"app">>,<<"color">>}.
{<<"maintainers">>,[<<"Julian Duque">>,<<"Duncan McGreggor">>]}.
{<<"precompiled">>,false}.
{<<"description">>,<<"ANSI colors for your Erlang">>}.
{<<"files">>,
 [<<"src/color.app.src">>,<<"README.md">>,<<"include/color.hrl">>,
  <<"rebar.config">>,<<"rebar.lock">>,<<"src/color.erl">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,
 [{<<"GitHub">>,<<"https://github.com/julianduque/erlang-color">>},
  {<<"Hex">>,<<"https://hex.pm/packages/erlang_color">>}]}.
{<<"build_tools">>,[<<"rebar3">>]}.
